.PageHeader {
  background-color: black;
  color: transparent;
  padding: 15rem 0;
}

.PageHeader .BackgroundImage {
  opacity: 1;
  background-color: #1d1d1d;
}

.PageHeader-large {
  padding: 20rem 0;
}

.PageHeader--Title {
  font-size: 6rem;
  margin-bottom: 0;
}

.PageHeader--Subtitle {
  font-weight: 400;
  font-size: 1.8rem;
  color: transparent;
}

.PageHeader .container {
  animation: fadeIn 0.5s ease-out;
}

@media (max-width: 800px) {
  .PageHeader {
    padding: 7rem 0;
  }
  .PageHeader-large {
    padding: 12.5rem 0;
  }
}
